.Mapsection {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  justify-content: center;
  margin: 2rem auto;
  text-align: center;
}

.iconEach {
  width: 2rem;
  height: 2rem;
  color: white;
  vertical-align: middle;
}

.containerDiv {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  height: 20rem;
  width: 70%;
}

.innerdiv {
  flex: 1; 
  margin-right: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  
}

.innerdiv:last-child {
  margin-right: 0;
}

.forFace {
  vertical-align: middle;
}

.fortextface {
  text-decoration: none;
  color: black;
  position: relative;
}

.fortextface:hover {
  color: #3b5998;
  cursor: pointer;
}

.copiedPopup {
  position: absolute;
  background-color: #6a9c89a3;
  color: white;
  padding: 5px;
  font-size: 10px;
  border-radius: 5px;
  top: -10px;
  left: 25px;
  white-space: nowrap;
}
