.mainDiv {
  margin: 10rem;
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordionContentOpen {
  max-height: 1000px; /* Large enough to allow full expansion */
}

.accordionHeader {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordionIcon {
  margin-left: 10px;
}
