.mainDiv {
  padding: 1%;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #000000;
  width: 73.5vw;
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordionContentOpen {
  max-height: 1000px; /* Large enough to allow full expansion */
}

.accordionHeader {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordionIcon {
  margin-left: 10px;
}
