.mainNav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:  #FF5733 ;
    display: grid;
    grid-template-rows: auto auto;    
}

.mainNav h2{
    position: relative;
    left: 22rem;
    margin-top: 1rem;
    margin-bottom: 0px;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 0 0.5rem black;
}

.mainNav ul {
    list-style: none;
    display: flex;
    padding-left: 18rem;
    margin-bottom: 0.5rem;
}

.mainNav ul li {
    font-size: 1.1rem;
}

.mainNav img {
    position: fixed;
    top: 1rem;
    left: 5rem;
    width:10rem;
    height: 10rem;
    cursor: pointer;
    border-radius: 50%;
    transition: top 0.3s , left 0.3s , border 0.3s, width 0.5s , height 0.5s, box-shadow 0.5s, opacity 0.5s;
    box-shadow: 0 0 1rem black;
}

.mainNav img:hover {
    border: 0.4rem double black;
    width: 9.2rem;
    height: 9.2rem;
    left: 5.2rem;
    top: 1.2rem;
    box-shadow: none;
    opacity: 0.9;
}


.textLink {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px 40px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
    transition: background-color 0.35s;
    border-right: 2px solid white;
}

.textLink:hover {
    background-color: white;
    color: black;
}