.mainNav h2{
    position: relative;
    left: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}


.mainNav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:  #FF5733 ;
    display: grid;
    grid-template-rows: auto auto;    
}

.mainNav ul {
    list-style: none;
    display: flex;
    padding-left: 18rem;
}

.mainNav ul li {
    font-size: 1.3rem;
}

.mainNav img {
    position: fixed;
    top: 10px;
    left: 50px;
    width:200px;
    height: 200px;
    cursor: pointer;
    border-radius: 50%;
    transition: top 0.3s , left 0.3s , border 0.3s, width 0.3s , height 0.3s ;
}

.mainNav img:hover {
    left: 55px;
    top: 15px;
    width: 180px;
    height: 180px;    
    border: 5px double black;
}


.textLink {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px 40px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
    transition: background-color 0.35s;
    border-right: 2px solid white;
}

.textLink:hover {
    background-color: white;
    color: black;
}