.textExplainArea {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; /* Adjust font size for readability */
  /* background-color: #f8f7f2; */
  padding: 2vw;
  border-radius: 50px;
  font-size: 1.3rem;
  max-width: 45vw;
}

.spacebelowInAbout {
  margin-bottom: 15vh;
  margin-top: 10vh;
}

.textExplainArea p {
  line-height: 1.6; /* Increase line height for better spacing between lines */
  text-align: justify; /* Align the text in a justified manner */
  margin: 20px 0; /* Add space around the paragraph */
  padding: 0 10px; /* Add padding inside the paragraph */
  color: #333; /* Set a clean, dark text color */
}

.textExplainArea li {
  line-height: 1.6; /* Increase line height for better spacing between lines */
  color: #333; /* Set a clean, dark text color */
}

.backgroundAreaEachbox1and3 {
  /* background-color: #9cafaa; */
  background-color: whitesmoke;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 0vw;
  padding-right: 11vw;
  margin-top: 80vh;
  margin-bottom: 10vh;
  margin-right: 15vw;
  display: flex;
  /* box-shadow: 2rem 2rem #687b97; */
  box-shadow: 1rem 1rem 5rem #a6a8a7;
  position: relative;
  z-index: 2;
}

.backgroundAreaEachbox24 {
  /* background-color: #7f9f80; */
  background-color: rgb(244, 243, 243);
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 9vw;
  padding-right: 0vw;
  margin-top: 80vh;
  margin-bottom: 50vh;
  margin-left: 5vw;
  display: flex;
  /* box-shadow: 2rem 2rem #4c897c; */
  box-shadow: -1rem 1rem 5rem #a6a8a7;
  position: relative;
  z-index: 2;
}

.backgroundAreaEachbox1and3 h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 8vh;
  margin-bottom: 0vh;
  margin-left: 7vw;
  margin-right: 3vw;
  text-shadow: #999595 0.5rem 0.5rem 0.75rem;
}

.backgroundAreaEachbox24 h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  /* 333 */
  font-size: 3rem;
  font-weight: bold;
  margin-top: 8vh;
  margin-bottom: 0vh;
  margin-right: 5vw;
  margin-left: 3vw;
  text-shadow: #999595 -0.5rem 0.5rem 0.75rem;

}

/* image  */

.divlayer {
  position: absolute;
  flex-direction: column; /* Aligns items vertically */
  justify-content: center; /* Centers vertically */
  align-items: center; /* Centers horizontally */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin-top: 20vh;
}

.imlayer1 {
  padding-top: 30vh;
  padding-left: 25vw;
  width: auto;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  filter: brightness(0.9);
  filter: drop-shadow(0.5rem 0.5rem 0.75rem #999595);
}
.imlayer2 {
  padding-top: 125vh;
  padding-left: 25vw;
  width: auto;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  filter: brightness(0.9);
  filter: drop-shadow(0.5rem 0.5rem 0.75rem #999595);
}

.iminsertpic1{
  padding-top: 25vh;
  width: 100vw;
  height: 45vh;
  object-fit: cover;
  margin-top: 15vh;
  filter: brightness(0.75);
  object-position: 0% 40%; /* Ensures the bottom part is focused */
}

.iminsertpic2{
  padding-top: 45vh;
  width: 100vw;
  height: 45vh;
  object-fit: cover;
  margin-top: 15vh;
  filter: brightness(0.75);
  object-position: 0% 80%; /* Ensures the bottom part is focused */
}

@media (max-width: 768px) {
  .divlayer {
    flex-direction: column; /* Stack content vertically for smaller screens */
  }

  .backgroundAreaEachbox1and3, .backgroundAreaEachbox24 {
    flex-direction: column; /* Increase padding for smaller screens */
  }

  .imlayer1, .imlayer2 {
    padding-left: 0; /* Remove excessive padding on smaller screens */
    width: 100vw;
    height: auto; /* Maintain aspect ratio */
  }
}