.textExplainArea {
    background-color: #f8f7f2;
    padding: 2vw;
    border-radius: 50px;
    margin-left: 15vw;
    margin-right: 15vw;
}

.textExplainArea p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.textExplainArea li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.backgroundAreaEachbox1and3 {
    background-color: #607f83;
    padding-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
}

.backgroundAreaEachbox1and3 h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
    margin-left: 12vw;
}

.backgroundAreaEachbox24 h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-weight: bold;
    margin-left: 12vw;
}




.backgroundAreaEachbox24 {
    background-color: #ffad60;
    padding-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
}

.topicName {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
    margin-left: 20vw;    
}