.timelineDiv {
    position: relative;
    max-width: 70vw;
    margin-left: 15vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.timelineDiv .timelineImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.timelineDiv .pin{
    position: absolute;
    top: 0;
    left: 10%;
    width: 4vh;
    height: 6vh;
}