.timelineDiv {
  position: relative;
  max-width: 70vw;
  margin-left: 15vw;
}

.timelineDiv .timelineImage {
  width: 70% ;
  height: 70%;
  object-fit: cover;
  display: grid;
  margin: 0 auto;
}

.timelineDiv .pin {
  position: absolute;
  top: 0;
  left: 10%;
  width: 15vh;
  height: 16vh;
}



