.divcontainImageAdmissionSlide {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.divcontainImageAdmissionSlide img {
    height: 100%;
    width: 100%;
    object-fit:cover;
    filter: brightness(0.85);

}

.textOverAdmissionSlidePic {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-40%, -60%);
    font-weight: bold; 
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
    width: 100%; 
}

.textOverAdmissionSlidePic h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size: 4rem;
    color: white;
    padding-left: 0;
    text-align: left;
}

.textOverAdmissionSlidePic p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size: 1.5rem; 
    color: white; 
    text-align: left;
    padding-left: 15rem;
    margin-top: 4rem;
}

.DivOverLink {
    position: absolute;
    margin-top: 5vh;
    margin-left: 16vw;
    display: inline-block;  
}


.DivOverLink a{
    color: white; 
    text-align: left;
    font-size: 1rem; 
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    text-decoration: none;
    transition: all 0.3s ease;
}



.DivOverLink button {
    margin-left: 1vw;
    background-color: #FFFFFE;
    border-radius: 50%;
    transition: all 0.3s ease; 
    border: none;
}

.DivOverLink:hover a, 
.DivOverLink:hover button {
    color: #FF7F3E;
    transform: scale(1.1); 
    cursor: pointer;
}