.mainFooter {
    position: absolute;
    left: 0;
    width: 100vw;
    background-color:  #585859;
    border-top: white 3px solid;
    display: grid;
    grid-template-rows: auto auto;
    color: white;    
    padding-left: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-sizing: border-box;
}

.mainFooter h2{
    font-family: 'Times New Roman', Times, serif;
    text-shadow: black 1px 1px 1px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.icons{
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}