<!DOCTYPE html>
<html>
<head>
    <title>Add Participants</title>
</head>
<body>
    <h1>Add Participants</h1>
    <form action="/activity/add_participant/{{index}}/submit" method="post">
        <label for="group_name">Group Name</label>
        <input type="text" name="group_name" id="group_name" required>
        <br>
        <label for="participants_id">Participants 1 ID</label>
        <input type="text" name="participants_id" id="participants_id" required>
        <br>
        <label for="participants_id">Participants 2 ID</label>
        <input type="text" name="participants_id" id="participants_id" required>
        <br>
        <label for="participants_id">Participants 3 ID</label>
        <input type="text" name="participants_id" id="participants_id">
        <br>
        <label for="participants_id">Participants 4 ID</label>
        <input type="text" name="participants_id" id="participants_id">
        <br>
        <label for="participants_id">Participants 5 ID</label>
        <input type="text" name="participants_id" id="participants_id">
        <br>
        <input type="submit" value="Add">
    </form>
</body>
</html>